# API Configuration
VITE_API_URL=https://ai-agent-test.leapcount.com
VITE_API_KEY=

# Workspace and User (for Session API)
VITE_WORKSPACE_ID=test-workspace-1
VITE_USER_ID=

# Debug (set to "true" to enable console logging)
VITE_DEBUG=false

VITE_BASE_API_URL="http://192.168.1.187/rbac"
VITE_BYPASS_AUTH=false
VITE_OTCS_OAUTH_REDIRECT_URL="http://localhost:5173/otcs/redirect"
VITE_OTCS_OAUTH_LOGOUT_URL="http://192.168.1.88:8081/otdsws/logout"
VITE_OTCS_OAUTH_URL="http://192.168.1.88:8081/otdsws/login?response_type=token&client_id={OAUTH_CLIENT_ID}&redirect_uri={OAUTH_REDIRECT_URL}&state=none"
VITE_OTCS_OAUTH_CLIENT_ID="rbac"